<%- include ('../../partials/header.ejs') %>
<body>
  <div class="container">
    <hr />
    <div class="card">
      <div class="card-header">
        <h2>Login</h2>
      </div>
      <div class="card-body">
        <form action="/authenticate" method="post">
          <label for="">Email: </label>
          <input
            class="form-control"
            type="email"
            name="email"
            placeholder="Fill your email"
            id=""
          />
          <br />
          <label for="">Password</label>
          <input class="form-control" type="password" name="password" id="" />
          <br />
          <button type="submit" class="btn btn-success btn-block">Login</button>
          <a href="/" class="btn btn-warning btn-block">Home</a>
        </form>
      </div>
    </div>
  </div>
</body>
<%- include ('../../partials/footer.ejs') %>
